
/*
body{
    margin: 0;
    padding 0;
    font-family: Arial;
    color: white;
}
*/

body{
    margin:  0;
    padding: 0;
    background: url(IMG_1684.jpeg) no-repeat;
    background-size: cover;
}

/*Drop down menu*/
.menu{
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    opacity: 0.8;
}
ul{
    width: 800px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li{
    float: left;
    width: 250px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.menu li a{
    text-decoration: none;
    color: white;
    display: block;
    transition: all ease-in-out 250ms;
}
.menu li a:hover{
    background-color: #b9b9b9;
}
.menu li ul li{
    display: none;
    opacity: 0.8;
}
.menu li:hover ul li{
    display: block;
    opacity: 0.8;
}


.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: justify;
}
ul{
    width: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
}
.box li{
        display: inline-block;
        margin: 6px;
        list-style:  none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}

.resume {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
